<a
  class="footer-link"
  href="https://www.github.com/mjocc/mjocc.github.io"
  target="_blank"
  rel="noopener"
  >GitHub Repository</a
>
<br />
<div class="footer-icons-container">
  <a
    class="social-media-icon"
    href="https://github.com/mjocc"
    target="_blank"
    rel="noopener"
    ><img
      src="/dist/img/github-logo.svg"
      alt="Github link"
      width="32"
      height="32"
  /></a>
  <a
    class="social-media-icon"
    href="https://twitter.com/"
    target="_blank"
    rel="noopener"
    ><img
      src="/dist/img/twitter-logo.svg"
      alt="Twitter link"
      width="32"
      height="32"
  /></a>
  <a
    class="social-media-icon"
    href="https://uk.linkedin.com/"
    target="_blank"
    rel="noopener"
    ><img
      src="/dist/img/linkedin-logo.svg"
      alt="LinkedIn link"
      width="32"
      height="32"
  /></a>
</div>
