// Anything reusable such as buttons, navbars, cards etc.

// Header banner
.header-banner {
    height: 400px;
    background-image: url(/images/header-background.jpg);
    background-size: cover;
    @media only screen and (max-width: 550px) {
        height: 300px;
    }
}

.header-text{
    @include header-font;
    text-align: center;
    margin: 0px;
    padding: 124px 0px;
    @media only screen and (max-width: 550px) {
        font-size: 100px;
        padding: 89px 0px;
    }
    @media only screen and (max-width: 450px) {
        font-size: 75px;
        padding: 104px 0px;
    }
}

// Navbar
.navbar {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: flex-start;
    height: 50px;
    background-color: $mainColor;
}

.navbar-button {
    padding: 13px 25px;
    background-color: $mainColor;
}

.navbar-button:hover {
    background-color: lighten($mainColor, 50%);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.float-right {
    margin-left: auto;
}

#navbar-menu-button-container {
    display:none;
}

@media only screen and (max-width: 450px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        height: 150px;
    }
    
    .navbar-button {
        padding: 10px 30px;
        text-decoration: none;
    }
    
    .float-right {
        margin: auto;
    }

    #navbar-menu-button-container {
        display: block;
        height: 50px;
        background-color: $mainColor;
    }

    #navbar-menu-button {
        float: right;
        height: 30px;
        width: 35px;
        margin: 10px;
    }

    #navbar-container {
        display: none;
    }
}